<div>
  <div class="navbar bg-base-100 pt-5">
    <div class="flex-1">
      <div class="w-9 h-9 overflow-hidden sm:ml-32">
        <img class="w-full h-full object-cover" src="bookedUp-logo.png" alt="..." />
      </div>
    </div>
    <div class="flex-none font-accent">
      <h4 class="text-xl sm:mr-32">booked<span class="font-bold">Up</span></h4>
    </div>
  </div>
</div>

<div class="hero min-h-screen gradient -mt-10">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl sm:text-6xl font-medium font-accent">Join the Club, Share the Story.</h1>
      <p class="py-6 text-lg sm:text-xl">
        bookedUp is cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>

      <div class="flex justify-center gap-2 mt-2">
        <button class="btn btn-primary" routerLink="/login">Log in</button>
        <button class="btn btn-soft btn-accent" routerLink="/sign-up">Sign Up</button>
      </div>
    </div>
  </div>
</div>